@import url('https://fonts.googleapis.com/css2?family=Codystar&family=Gwendolyn:wght@700&family=Raleway+Dots&display=swap');

:root{
  --c-rosado: #ff7db3;
  --c-fucsia: #EB55BF;
  --c-violeta: #B292EA;
  --c-verde: #91DFA8;
  --c-verdeclaro: #F1FFD9;
  --c-naranja: #ff9028;
  --c-celeste: #8BDBF5;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color:#ffffff
}

.books {
  padding: 5em;
  width: 50rem;
  height: 30em;
  box-shadow: 10px 10px snow;
  
}
.form {
  display: flex;
}

.form > input {
  align-items: flex-start;
  justify-content: space-between;

border-radius: 10px;
}

div.input {
border: #EB55BF;
display: flex;
flex-direction: row;
height: 55px;
}

.borde {
  border-style: double;
  border-color: snow;
  border-width: 6px;
  border-radius: 5px;
  padding: 5em;
 }


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes colorchange {
  0% {
    color: #91DFA8;
  }
  50% {
    color: rgb(255, 163, 255);
  } 90% {
    color: lightseagreen;
  } 100% {
    color: rgb(179, 221, 111);
  }
}

@keyframes colorfill {
  0% {
    fill: #91DFA8;
  }
  50% {
    fill: rgb(255, 163, 255);
  } 90% {
    fill: lightseagreen;
  } 100% {
    fill: rgb(179, 221, 111);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


/*Watch styles */
  
/* #clock { 
  display: flex;   
  justify-content: center;
  float: center;
  z-index: 99;
  color: #91DFA8;
display: flex;
align-items: center;
justify-content: center;
font-size: 100pt;
  font-family: 'Raleway Dots', cursive; 
}
svg {
  display: center;
align-items: center;
justify-content: center;
z-index: 99;
  height: 60%;
  width: 60%;
}

#Modo_de_aislamiento {
  color: #91DFA8;
display: flex;
align-items: center;
justify-content: center;
font-size: 100pt;
  font-family: 'Raleway Dots', cursive;} */
  
.footer{
  width: auto;
  height: auto;
    padding: 5%;
  animation: colorchange 4s ease-out infinite;
}
