@import url('https://fonts.googleapis.com/css2?family=Codystar&family=Gwendolyn:wght@700&family=Raleway+Dots&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.books {
  padding: 5em;
  width: 50rem;
  height: 30em;
  box-shadow: 10px 10px snow;
}
.borde {
  border-style: double;
  border-color: snow;
  border-width: 6px;
  border-radius: 5px;
  padding: 5em;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*Watch styles */
.container {display: flex;
  flex-direction: column; /* Para apilar los divs verticalmente */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 100vh; /* Para que la altura del contenedor sea del 100% del viewport */}

  .box{width: 200px;
    height: 100px;
    text-align: center;
    position: relative;
    line-height: 100px; /* Para centrar el contenido verticalmente */
    margin: 10px; /* Añade margen entre los divs si lo deseas */
    z-index: 1;
  }
  
#clock { 
  display: flex;   
  justify-content: center;
  float: center;
  z-index: 99;
  color: #91DFA8;
display: flex;
align-items: center;
justify-content: center;
font-size: 100pt;
  font-family: 'Raleway Dots', cursive; 
}
svg {
  display: center;
align-items: center;
justify-content: center;
z-index: 99;
  height: 60%;
  width: 60%;
}

#Modo_de_aislamiento {
  color: #91DFA8;
display: flex;
align-items: center;
justify-content: center;
font-size: 100pt;
  font-family: 'Raleway Dots', cursive;

}