@import url('https://fonts.googleapis.com/css2?family=Codystar&family=Gwendolyn:wght@700&family=Raleway+Dots&display=swap');

:root{
  --c-rosado: #ff7db3;
  --c-fucsia: #EB55BF;
  --c-violeta: #B292EA;
  --c-verde: #91DFA8;
  --c-verdeclaro: #F1FFD9;
  --c-naranja: #ff9028;
  --c-celeste: #8BDBF5;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color:#ffffff
}

.Card:hover {
 animation: scale 1s 1;
}

.books {
  padding: 5em;
  width: 50rem;
  height: 30em;
  box-shadow: 10px 10px snow;
  
}

.form {
  display: flex;
}

.form > input {
  align-items: flex-start;
  justify-content: space-between;
  

border-radius: 10px;
}

div.input {
border: #EB55BF;
display: flex;
justify-content: space-around;
height: 35px;
gap: 20px;
flex-direction: column;
}

.borde {
  border-style: double;
  border-color: snow;
  border-width: 10%;
  border-radius: 5%;
  padding: 2%;
   }

 

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  } 100% {
    transform: scale(1);
  }
}
@keyframes colorchange {
  0% {
    color: #91DFA8;
  }
  50% {
    color: rgb(255, 163, 255);
  } 90% {
    color: lightseagreen;
  } 100% {
    color: rgb(179, 221, 111);
  }
}

@keyframes colorfill {
  0% {
    fill: #91DFA8;
  }
  50% {
    fill: rgb(255, 163, 255);
  } 90% {
    fill: lightseagreen;
  } 100% {
    fill: rgb(179, 221, 111);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.automatica {
  color:var(--c-naranja);
  animation: colorchange infinite 3s linear ;
}

/*Watch styles */
  
/* #clock { 
  display: flex;   
  justify-content: center;
  float: center;
  z-index: 99;
  color: #91DFA8;
display: flex;
align-items: center;
justify-content: center;
font-size: 100pt;
  font-family: 'Raleway Dots', cursive; 
}
svg {
  display: center;
align-items: center;
justify-content: center;
z-index: 99;
  height: 60%;
  width: 60%;
}

#Modo_de_aislamiento {
  color: #91DFA8;
display: flex;
align-items: center;
justify-content: center;
font-size: 100pt;
  font-family: 'Raleway Dots', cursive;} */
  
.footer{
  display: block;
  width: auto;
  height: auto;
    padding: 5%;
  animation: colorchange 4s ease-out infinite;
}
.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  transform-origin: 0% 0%;
  transform: rotate(0.25turn) translateY(-35px);

}

/* Establece el tamaño máximo para los divs y hace que se muestren en línea */
.Card {
  width: 30%; /* Calcula el ancho para que quepan tres divs en una fila */
  margin: auto; /* Añade margen para separar los divs */
  display: inline-block; /* Hace que los divs se muestren en línea */
  vertical-align: top; /* Alinea los divs en la parte superior de la línea */
  box-sizing: border-box; /* Incluye el padding y el borde en el ancho del elemento */
  padding: 15px; /* Agrega espacio interno a los divs */
  text-align: center; /* Centra el texto dentro de los divs */
  word-wrap: all; /* Rompe las palabras largas si es necesario */
  white-space: normal; /* Permite que el texto se ajuste automáticamente */
  background-color: #fff; /* Cambia el color de fondo */
  display: flex; /* Utiliza flexbox para controlar el tamaño del fondo coloreado */
  flex-direction: column; /* Apila el contenido en columna */
}

/* Establece el tamaño del fondo coloreado */
.Card::before {
  content: "";
  flex: 1; /* Hace que el fondo coloreado ocupe 1/3 del div */
  background-color: inherit; /* Utiliza el mismo color de fondo que el div principal */
}

/* Estilos para el contenido dentro de los divs */
.Card h4 {
  margin: 5px 0;
  font-size: 14px;
}

.Card h2 {
  margin: 5px 0;
  font-size: 18px;
  
}

.Card p {
  margin: 5px 0;
  font-size: 12px;
}

/* Establece el estilo de la estantería */
.shelf {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Espacio entre los estantes */
  justify-content: space-between; /* Distribuye los estantes uniformemente */
  border: 5px rgb(94, 55, 41);
}

/* Establece el estilo de cada libro */
.bookie {
  width: calc(45% - 10px); /* Calcula el ancho para 5 libros por estante */
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: baseline;
  background-color: #fff; /* Color de fondo de los libros */
  border: 1px solid #ddd;
  padding: 10px;
  transform: rotate(180deg); /* Rota los libros 45 grados */
  transform-origin: bottom left; /* Establece el punto de rotación */
  margin-bottom: 10px; /* Espacio entre los libros en el mismo estante */

}

/* Establece el estilo del contenido dentro de cada libro */
.book-content {
 
 transform: rotate(90deg);  /* Invierte la rotación del texto   */
  text-align: center;
  height: auto;
}

/* Establece los estilos específicos de los elementos h4, h2 y p dentro de los libros */
.book-content h4 {
  margin: 0;
  font-size: 14px;
}

.book-content h2 {
  margin: 0;
  font-size: 18px;
}

.book-content p {
  margin: 0;
  font-size: 12px;
}
